// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

h1{
  font-size:26px;
  margin:25px 33px;
  font-family: verdana, arial, helvetica, sans-serif;
}

span{
  font-weight:bold;
}

p{
  font-size:13px;
  font-family: verdana, arial, helvetica, sans-serif;
  margin:0 65px 30px;
}

a{
  color: #666;
}